# 
bin
[Dd]ebug*/
!**/3rd/**/[Dd]ebug*/
!sip/baresip/0.6/baresip/modules/debug_cmd
!app/waveshop/swh-plugins/0.4.15/swh-plugins/debug_1184
!audio/opus/flac/objs/debug/
!toolkit/vdbg/Debug
!algorithm/abseil-cpp/absl/debugging
!srv/media_srv_ireader/sdk/xml/*

[Rr]elease*/
!**/3rd/**/[Rr]elease*/
!audio/opus/flac/objs/release/
!toolkit/vdbg/Release
!srv/media_srv_ireader/sdk/xml/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
#lib
#*.a
*.la
*.lai
*.lo
*.slo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
!app/waveshop/swh-plugins/0.4.15/swh-plugins-0.4.15/*
*.dylib

# Executables
#*.exe
*.out
*.app
!app/mpv/mpv-0.1.0/mpv-0.1.0/TOOLS/osxbundle/mpv.app
*.i*86
*.x86_64
*.hex

# vc
*.exp
*.user
*.ilk
*.obj
*.iobj
*.pdb
*.ipdb
*.suo
#int mb_x
#!audio/sox/lame/Dll/LameDLLInterface.htm
*.idb
#*.manifest
*.res
#*.dep
*.user
*.plg
*.opt
*.bsc
*.clw
*.tmp
*.sbr
*.bak
*.dmp
*.log
*.err
*.wrn
*.i
*.vspscc
*.cache
*.tlog
*.lastbuildstate
*.ilk

# vim
*.swp

# Visual Studio profiler
*.diagsession
*.psess
*.vsp
*.vspx
*.sap

# Visual C++ cache files
ipch
ipch/
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
.vs
*.VC.db
*.VC.db*
*.VC.opendb
*.VC.db-shm
*.VC.db-wal

# cmake
CMakeCache.txt
CMakeFiles/*
#Makefile
#cmake*

# win preview
ehthumbs.db
Thumbs.db

# mac
.DS_Store

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# special
*.pid
netstackdump*
**/certs/*.crt
**/data/CA.crt
**/data/gae_proxy/*
**/data/good_ip.txt
**/data/proxy.
**/xx-net/data/*
**/logs/
dllexp.cfg

# Created by https://www.gitignore.io/api/swift,xcode

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
.build/

# CocoaPods - Refactored to standalone file

# Carthage - Refactored to standalone file

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated

## Various settings

## Other

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/swift,xcode
